@import url("base.css");


/* Início */
.inicio {
    width: 100%;
    height: 462px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.titulo-span {
    color: var(--azul);
}

.subtitulo {
    margin-bottom: 20px;
    width: 420px;
    color: var(--azul);
    text-align: center;
    font-size: 23px;
}

.inicio-botoes-container {
    display: flex;
    gap: 15px
}

.botao {
    padding: 11px 15px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: var(--shadow);
}

.botao-agendamento {
    background-color: var(--azul);
    color: var(--branco);
}

.botao-saiba-mais {
    background-color: var(--cinza);
}


/* Especialidades */
.especialidades {
    padding: 100px;
    background-color: var(--azul);
    text-align: center;
    letter-spacing: -.5px;
    line-height: 1.4em;
}

.especialidades-titulo {
    margin-bottom: 70px;
    color: var(--branco);
    font-size: 50px;
}

.especialidades-items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
}

.especialidade {
    width: 300px;
    text-align: start;
}

.expecialidade-imagem-container {
    margin-bottom: 30px;
    width: 100%;
    height: 293px;
    border-radius: 20px;
    overflow: hidden;
}

.especialidade-imagem {
    width: 100%;
}

.especialidade-nome {
    margin-bottom: 10px;
    color: var(--branco);
    font-weight: bold;
    font-size: 23px;
}

.especialidade-descricao {
    color: var(--branco);
    font-size: 20px;
}


/* Header e Nav */
header{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 100px;
}

#nav-lista{
    display: flex;
    gap: 20px;
}

ul{
    list-style-type: none;
}

.nav-link{
    font-size: 15px;
    color: var(--cinza-escuro);
}

#nav-link-last{
    color: var(--azul);
}

@media screen and (max-width: 390px) {

    /* Início */
    .inicio {
        height: 350px;
    }

    .titulo {
        width: 200px;
        font-size: 28px;
    }

    .subtitulo {
        width: 350px;
        font-size: 18px;
    }

    .botao {
        padding: 8px;
        height: 35px;
    }

}