@import url("base.css");


/* Início */
.inicio {
    width: 100%;
    height: 462px;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.titulo-span {
    color: var(--azul);
}

.subtitulo {
    margin-bottom: 20px;
    width: 420px;
    color: var(--azul);
    text-align: center;
    font-size: 23px;
}

.inicio-botoes-container {
    display: flex;
    gap: 15px
}

.botao {
    padding: 11px 15px;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: var(--shadow);
}

.botao-agendamento {
    background-color: var(--azul);
    color: var(--branco);
}

.botao-saiba-mais {
    background-color: var(--cinza);
}


/* Especialidades */
.especialidades {
    padding: 100px;
    background-color: var(--azul);
    text-align: center;
    letter-spacing: -.5px;
    line-height: 1.4em;
}

.especialidades-titulo {
    margin-bottom: 70px;
    color: var(--branco);
    font-size: 50px;
}

.especialidades-items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
}

.especialidade {
    width: 300px;
    text-align: start;
}

.expecialidade-imagem-container {
    margin-bottom: 30px;
    width: 100%;
    height: 293px;
    border-radius: 20px;
    overflow: hidden;
}

.especialidade-imagem {
    width: 100%;
}

.especialidade-nome {
    margin-bottom: 10px;
    color: var(--branco);
    font-weight: bold;
    font-size: 23px;
}

.especialidade-descricao {
    color: var(--branco);
    font-size: 20px;
}


/* Header e Nav */
header{
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 100px;
}

.hamburguer{
    display: none;
    border: none;
    font-size: 30px;
}

#nav-lista{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-link{
    font-size: 15px;
    color: var(--cinza-escuro);
}

#nav-link-last{
    color: var(--azul);
}

@media screen and (max-width: 390px) {

    /* Início */
    .inicio {
        height: 350px;
    }

    .titulo {
        width: 200px;
        font-size: 28px;
    }

    .subtitulo {
        width: 350px;
        font-size: 18px;
    }

    .botao {
        padding: 8px;
        height: 35px;
    }

    /* Especialidades */
    .especialidades {
        padding: 50px;
    }

    .especialidades-titulo {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .especialidades-items {
        display: flex;
        flex-direction: column;
    }

    .especialidade {
        margin-bottom: 50px;
    }
    
    .expecialidade-imagem-container {
        margin: 0 auto 25px;
        width: 300px;
        height: 300px
    }


    /* Header e Nav */
    header{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }

    .first-parte{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }

    .hamburguer{
        display: block;
    }

    .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
    }

    #abrirMenu{
        position: absolute;
        right: 48px;
        top: 30px;
    }

    #fecharMenu{
        display: none;
    }

    .nav{
        display: none;
        width: 100%;
    }

    #nav-lista{
        padding-left: 12px;
        flex-direction: column;
    }

    .nav-link{
        font-size: 25px;
    }
}

@media only screen and (min-width: 390px) and (max-width: 459px) {
    /* Header e Nav */
    header{
        display: flex;
        flex-direction: column;
        padding: 24px;
    }

    .first-parte{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 48px;
    }

    .hamburguer{
        display: block;
    }

    .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
    }

    #abrirMenu{
        position: absolute;
        right: 48px;
        top: 30px;
    }

    #fecharMenu{
        display: none;
    }

    .nav{
        display: none;
        width: 100%;
    }

    #nav-lista{
        padding-left: 24px;
        flex-direction: column;
    }

    .nav-link{
        font-size: 25px;
    }
}

/* Media query extra para: Header e Nav*/
@media only screen and (min-width: 460px) and (max-width: 505px) {
    /* Header e Nav */
    #nav-lista{
        padding-left: 24px;
        flex-direction: column;
    }

    .nav-link{
        font-size: 32px;
    }
}

@media only screen and (min-width: 459px) and (max-width: 599px) {
    /* Header e Nav */
    header{
        display: flex;
        flex-direction: column;
        padding: 24px;
    }

    .first-parte{
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 48px;
    }

    .hamburguer{
        display: block;
    }

    .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
    }

    #abrirMenu{
        position: absolute;
        right: 48px;
        top: 48px;
    }

    #fecharMenu{
        display: none;
    }

    .nav{
        display: none;
        width: 100%;
    }

    #nav-lista{
        justify-content: center;
    }
}
@media only screen and (min-width: 599px) and (max-width: 767px) {}

@media only screen and (min-width: 767px) and (max-width: 992px) {}